@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

$bg-color: #222831;
$text-color: #eeeeee;
$highlight: #00adb5;

@import './highlight.scss';

body {
    background-color: $bg-color;
    color: $text-color;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

#nav {
  margin: .5rem;
  padding: 0;
  font-size:0.9rem
}

#nav > li {
    display: inline;
    margin-right: 1rem;
}

a {
    color: $text-color;
}

#nav a:hover {
    text-decoration: underline;
}

hr {
    color: #393e46;
}

h1, h2, h3, h4, h5, h6 {
    color: $highlight;
    font-family: 'Lora', serif;
}

h1 > a {
  color: $highlight;
  text-decoration: none;
}
